.header {
    height: 450px;
    width: 100%;
    background: rgb(62, 57, 107);
    position: relative;
}
.header__texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url('../img/header_img.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
}
.header__mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 40;
}
.header__navbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__navbar--logo-title {
    color: #fff;
    font-size: 28px;
}
.header__navbar--menu-link {
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
    background : linear-gradient(to top, darkslateblue 0%, darkslateblue 40%, transparent 10.01%) no-repeat left bottom / 0 100%;
}
.underline a {
    background-size: 100% 100%;
}
.underline a:hover {
    animation: underlined 0.5s both;
}
@keyframes underlined {
    from {
        background-size: 100% 100%;
        background-position: bottom right;
    }
    50% {
        background-size: 0% 100%;
        background-position: bottom right;
    }
    50.01% {
        background-position: bottom left;
    }
    100% {
        background-size: 100% 100%;
        background-position: bottom left;
    }
}
.header__navbar-toggle {
    display: flex;
    align-items: center;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.header__navbar-toggle-icons {
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 20%;
    left: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
.header__navbar-toggle-icons:before,
.header__navbar-toggle-icons:after
{
    content:'';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
.header__navbar-toggle-icons:before {top: -10px;}
.header__navbar-toggle-icons:after {top: 10px;}

.header__navbar-toggle.is-open .header__navbar-toggle-icons {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.header__navbar-toggle.is-open .header__navbar-toggle-icons:before {
    top:0;
    transform: rotate(45deg);
}
.header__navbar-toggle.is-open .header__navbar-toggle-icons:after{
    top:0;
    transform: rotate(135deg);
}
.is-open .header__navbar--menu {
    transform: translateY(0);
}

@media only screen and (max-width: 650px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .header__navbar-toggle {
        display: flex;
        z-index: 1000;
    }
    .header__navbar--menu {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vw;
        background: rgb(62, 57, 107);
        top: 0; left: 0;
    }
    .header__navbar--menu-link {
        margin: 30px 0;
        font-size: 22px;
    }
}

.header__slogan--title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.header__slogan {
    text-align: center;
    margin-top: 70px;
}
.header__slogan--btn {
    color: #fff;
    text-decoration: none;
    padding: 7px 20px;
    background-color: darkslateblue;
    border-radius: 4px;
    font-size: 15px;
}